HeaderFilterRegex: '^(?!.+_deps|/usr)|.+$'
Checks:            'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,-modernize-use-trailing-return-type,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-pro-type-vararg'
