<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <groupId>${GEDS_JAR_GROUPID}</groupId>
  <artifactId>${CMAKE_JAR_ARTIFACT_NAME}</artifactId>
  <version>${GEDS_JAVA_VERSION}</version>
  <packaging>jar</packaging>
  <description>POM was created from cmake.</description>
</project>
